.header{
  font-size: 20px;
}
.newpost{
  font-size: 17px;
}
.posts{
  display: flex;
  flex-flow: column;
}
.btns {
  display: flex;
  flex-flow: row;
}
.btn1 {
  margin: 3px 3px 3px 0;
}
.btn2 {
  margin: 3px 3px 3px 0;
}